#calc-body {
  display: grid;
  grid-template: 1fr 2fr / 1fr;

  height: 100vh;
  width: 85vw;
  margin: 3vh auto 0;
}


/* top panels */
#calc-top {
  display: grid;
  grid-template: 1fr / 3fr 3fr 1fr;
}

.table-label {
  font-weight: bold;
}

#player-stat-table > .player-stat-row {
  display: grid;
  grid-template: 1fr / 2fr 2fr 3fr 3fr 2fr;
}

select.select-boost {
  width: 8em;
  margin: 0 auto;
}

select.select-prayer {
  width: 8em;
  margin: 0 auto;
}

#results-area {
  display: grid;
  grid-template: 1fr / 1.5fr 3fr 3fr 1.5fr;
}

/* bottom panels */
#calc-bottom {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

div.loadout-row {
  display: grid;
  grid-template: 1fr / 1fr 3fr 1fr 1fr;

  margin: 8px;
}

.loadout-name {
  font-weight: bold;
  text-transform: capitalize;
}

input.atk-bonus-field, input.str-bonus-field {
  width: 3em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  appearance: none; 
}


/* auth */
label {
  display: block;
}

/* debug */
#calc-body * {
  border: solid green 1px;
}