:root { /* [color-mode="light] */
  --header-bg: #aaa;
}

:root[color-mode="dark"] {
  --header-bg: darkblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* #header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* header */
#header {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  height: 5em;

  background-color: var(--header-bg);
}

#header > div {
  display: flex;
  align-items: center;

  font-size: 2em;

  margin: 0;
}

#header > div#title {
  justify-content: center;
}